table caption {
    margin-bottom: 1rem;
}

thead tr th,
tr td {
    padding: .5rem 1rem;
}

thead tr {
    background: var(--dark-grey);
}

tr:nth-child(odd):not(thead tr) {
    background: var(--grey);
}