* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', 'Poppins', sans-serif;
}

#root {
  padding: 2rem;
  text-align: center;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

.App button[type="submit"] {
  padding: .5rem 1rem;
  border-radius: 5px;
}