* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', 'Poppins', sans-serif;
}

#root {
  padding: 2rem;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

.App {
  display: grid;
  justify-content: center;
  gap: 1rem;
}

.App h1 {
  text-align: center;
}

.App button[type="submit"] {
  width: fit-content;
  padding: .5rem 1rem;
  border-radius: 5px;
}

.App .desc-update {
  text-align: left;
}